<html>
<head>
    <title>Хонда каталог - JP </title>
</head>
<body>
    <br />
    <h2>Хонда каталог - JP</h2>
    <br />
    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/vehicle/vin?body_code=MA4&body_num=1100355">/vehicle/vin?body_code=MA4&body_num=1100355</a>

                </td>
                <td>    Получение списка автомобилей по VIN  </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="/image?image_id=honda.jpg">/image?image_id=honda.jpg</a>
                </td>
                <td>
                    Получение картинки
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <a href="/models">/models</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    <a href="/mgroups?pos=29295&lang=JP">/mgroups?pos=29295</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a href="/vehicle?vehicle_id=3406596&group_id=35&lang=RU">/vehicle?vehicle_id=3406596&group_id=35&lang=RU</a>
                </td>
                <td>
                    Список деталей в группе
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <a href="/vehicle/sgroups?catalog=116790J1&pos=0&size=1010&lang=RU">/vehicle/sgroups?catalog=116790J1&pos=0&size=1010&lang=RU</a>
                </td>
                <td>
                    Получение подгруп запчастей по авто  <br />
                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>
                    <a href="/ﬁlters?modelId=1">/ﬁlters?modelId=1</a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/ﬁlter-cars?modelId=1&param=E-CA1&param=LX&param=3&param=AT&param=A18A&page=1&page_size=10">
                        /ﬁlter-cars?modelId=1&param=E-CA1&param=LX&param=3&param=AT&param=A18A&page=1&page_size=10
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <a href="/GetLang">/GetLang</a>
                </td>
                <td>
                    Список языков
                </td>
            </tr>

        </tbody>
    </table>

</body>
</html>
